<%= form_for(@pin) do |f| %>
<p>
	<%= f.label :title, 'Title' %>
	<%= f.text_field :title %>
</p>

<p>
	<%= f.label :description %>
	<%= f.text_field :description %>
</p>
<p>
	<%= f.label :source %>
	<%= f.text_field :source %>
</p>
<%= f.submit %>
<% end %>